@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.body__works {
  min-height: 100vh;
  padding: 32px;
  overflow: hidden;
}

nav {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  letter-spacing: 1.2px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 24px;
  padding-bottom: 4px;
  font-weight: 900;
}

.logo {
  width: 40px;
  margin-right: 12px;
}

.nav__title {
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
}
ul {
  display: flex;
}

li {
  list-style: none;
}

.nav__link {
  margin: 0 24px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 13px;
  color: #243e63;
  text-decoration: none;
}

.nav__link--signup {
  background-color: #6415ff;
  border-radius: 9999px;
  margin: 0;
  padding: 12px 32px;
  font-weight: 600;
  color: white;
}

header {
  height: calc(100vh / 80px);
}
.header__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 0;
}

.header__wrapper {
  display: flex;
  margin: auto;
  max-width: 1280px;
}

.header__descr {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
h1 {
  font-weight: 700;
  line-height: 1.25;
  font-size: 36px;
}

.purple {
  color: #6415ff;
}

.header__descr--p {
  margin: 36px 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #243e63;
}

.header__img--wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__img {
  width: 100%;
  max-width: 512px;
}

input {
  display: block;
  width: 100%;
  border-radius: 9999px;
  border: 2px solid rgb(226, 232, 240);
  padding: 20px 192px 20px 32px;
  color: #243e63;
  opacity: 64%;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.header__descr--inputbtn {
  background-color: #6415FF;
  border: none;
  border-radius: 9999px;
  margin: 8px 8px 0 8px;
  padding: 16px 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #ffff;
  transform: translateY(-67px);
  right: 700px;
}

button:active {
  transform: translateY(1px);
}

.header__descr--partners {
  margin-top: 80px;
}
.header__descr--partnersimg {
  width: 100%;
  padding-top: 16px;
  opacity: 50%;
}
.header__descr--partnersdescr {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.8px;
  color: #243e63;
  opacity: 50%;
}